
<launch>
	### Weather board sensor grid ###
	#-------------------------------#
	
	<node pkg="weather_board_driver" type="weather_board_driver" name="wb_driver" output="screen"/>
	<param name="device" type="int" value="1"/>    
	<param name="num_sensors" type="int" value="25"/>
	<param name="hz" type="int" value="100"/>
	<param name="biasNum" type="int" value="10"/>	


	### RQT plot humidity ###
	#-----------------------#
	<!-- node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/wb_list/wb_list[0]/humidity /wb_list/wb_list[1]/humidity /wb_list/wb_list[2]/humidity /wb_list/wb_list[3]/humidity /wb_list/wb_list[4]/humidity /wb_list/wb_list[5]/humidity /wb_list/wb_list[6]/humidity /wb_list/wb_list[7]/humidity /wb_list/wb_list[8]/humidity /wb_list/wb_list[9]/humidity /wb_list/wb_list[10]/humidity /wb_list/wb_list[11]/humidity /wb_list/wb_list[12]/humidity /wb_list/wb_list[13]/humidity /wb_list/wb_list[14]/humidity /wb_list/wb_list[15]/humidity /wb_list/wb_list[16]/humidity /wb_list/wb_list[17]/humidity /wb_list/wb_list[18]/humidity /wb_list/wb_list[19]/humidity /wb_list/wb_list[20]/humidity /wb_list/wb_list[21]/humidity /wb_list/wb_list[22]/humidity /wb_list/wb_list[23]/humidity /wb_list/wb_list[24]/humidity"/ -->

</launch>